#container {
  width: 350px;
  margin: 0 auto;
  text-align: center;
}

.task {
  margin: 0 0 10px 0;
}

.task-title {
  width: 100%;
  padding: 5px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  background-color: rgb(192,192,192);
  cursor: pointer;
}

.task-title img {
  width: 32px;
}

.task-title .text {
  padding: 5px;
  text-align: left;
}

.task-title .image {
  text-align: right;
}

.task-menu {
  padding: 10px;
  border-style: solid;
  border-width: 0 1px 1px 1px;
}

button {
  position: relative;
  margin: 0 5px;
  border-color: black;
  border-radius: 5px;
  border-style: solid;
  background-color: rgba(192,192,192,0.5);
  cursor: pointer;
}

button:hover {
  background-color: rgba(0,0,0,0.2);
}

button > img {
  width: 24px;
  padding: 3px 0 1px 0;
}

a {
  color: grey;
}

a > span { 
  position: absolute; 
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
